

<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'image-2.jpg'%>);">
  <div class="banner-content" id="banner-show">
    <h1> <%=@cocktail.name%> </h1>
</div>
    <div class="card-show col-xs-4">
  <div class="card-inner" style="background-image: url('<%= cl_image_path @cocktail.photo, crop: :fill %>')">

</div>


</div>
<div class="container" id="ingredients">
  <div class="col-xs-8 col-xs-offset-2">
<h3> Ingredients  </h3>
<% @cocktail.doses.each do |dose|%>
<p><%= dose.ingredient.name.capitalize %>: <%= dose.description %>  <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} do %>
  <i class="far fa-trash-alt"></i> <%end%></p>

   <%end%>
    <%= link_to "+ Add Ingredient", new_cocktail_dose_path(@cocktail)%>
  <br>


<br>
  <%= link_to "Return to Cocktails", cocktails_path %>
</div>
<br>
</div>
</div>
